---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Software Engineer with 11 years of experience in the IT industry. I have a
    strong background in mobile and web development and I am passionate about
    software architecture and design. I am a quick learner and I am always
    looking for new challenges.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <!-- Nissan: Mobile Developer -->
    <TimeLineElement
      title="iOS Developer"
      subtitle="March 2024 - August 2024, Nissan West Europe, Remote"
    >
      Development of automated tests for the EVHC (Electronic Vehicle Health
      Check) iPad application. This application digitalizes the vehicle
      diagnostic process at Nissan dealerships, allowing the generation of
      detailed reports on the health status of the vehicles.
      <br />
      <b>Skills:</b> Swift, XCTests, Swift Testing, Xcode, Git
    </TimeLineElement>

    <!-- Ville de Montréal: Mobile Developer -->
    <TimeLineElement
      title="iOS Developer"
      subtitle="September 2022 - Present, Ville de Montréal, Remote"
    >
      Maintenance and feature development for Dossier citoyen and EPLV
      applications.
      <br />
      <b>Skills:</b> Swift, RxSwift, Webviews, Xcode, Git, Jira, Confluence, Bitbucket
    </TimeLineElement>

    <!-- onepoint: Mobile Developer -->
    <TimeLineElement
      title="iOS Developer"
      subtitle="May 2022 - Present, onepoint, Paris Area, France"
    >
      Responsible for mobile application development and implementation of agile
      methodologies.
      <br />
      <b>Skills:</b> Swift, Agile Methodologies, Mobile Application Development
    </TimeLineElement>

    <!-- Pierre Fabre Group: Metavers Developer -->
    <TimeLineElement
      title="Metavers Developer"
      subtitle="June 2022 - September 2022, Pierre Fabre Group, Paris, France"
    >
      Developed a Roblox game for Avène; focused on educating about blue light
      and skin care.
      <br />
      <b>Skills:</b> Roblox API, Game Development, Technical Architecture
    </TimeLineElement>

    <!-- Previous roles already summarized -->

    <!-- Sogeti: Senior Software Engineer -->
    <TimeLineElement
      title="Senior Software Engineer"
      subtitle="October 2019 - April 2022, Sogeti, Paris Area, France"
    >
      <!-- Description and skills for the role at Sogeti -->
    </TimeLineElement>

    <!-- GROUPE M6: Back End Developer -->
    <TimeLineElement
      title="Back End Developer"
      subtitle="July 2020 - January 2022, GROUPE M6, Paris, Île-de-France, France"
    >
      Responsible for maintaining the Diapason 2 application, bug fixing, and
      feature development.
      <br />
      <b>Skills:</b> J2EE, GWT (Google Web Toolkit)
    </TimeLineElement>

    <!-- Ministère de la Justice: Full Stack Engineer -->
    <TimeLineElement
      title="Full Stack Engineer"
      subtitle="May 2020 - July 2020, Ministère de la Justice, Paris, Île-de-France, France"
    >
      Development of a digital platform for youth justice cases, working in an
      Agile Scrum environment.
      <br />
      <b>Skills:</b> Full Stack Development, Agile Scrum
    </TimeLineElement>

    <!-- SNCF: Développeur Front-End iOS -->
    <TimeLineElement
      title="iOS Developer"
      subtitle="October 2019 - May 2020, SNCF, Paris, Île-de-France, France"
    >
      Maintenance and feature development for the "SIRIUS" iPad application used
      by train drivers.
      <br />
      <b>Skills:</b> iOS Development, Agile Scrum
    </TimeLineElement>

    <!-- Accenture: Ingénieur Etudes -->
    <TimeLineElement
      title="Software Engineer"
      subtitle="December 2013 - May 2019, Accenture, Paris Area, France"
    >
      <!-- Description and skills for the role at Accenture -->
    </TimeLineElement>

    <!-- Enedis -->
    <TimeLineElement
      title="Full Stack Developer"
      subtitle="September 2017 - February 2019, Enedis, Paris Area, France"
    >
      Development of the E-Flex platform for the InterFlex European project,
      optimizing local energy systems.
      <br />
      <b>Skills:</b> Java, Spring Boot, Angular 4
    </TimeLineElement>

    <!-- Michelin -->
    <TimeLineElement
      title="Application Developer"
      subtitle="July 2017 - August 2017, Michelin, Clermont-Ferrand Area, France"
    >
      Angular JS development for new features on the Service Now incident
      management platform.
      <br />
      <b>Skills:</b> Angular JS, Incident Management
    </TimeLineElement>

    <!-- Mairie de Paris -->
    <TimeLineElement
      title="Mobile and Web Developer"
      subtitle="November 2016 - June 2017, Mairie de Paris, Paris Area, France"
    >
      Development and maintenance of web and mobile applications.
      <br />
      <b>Skills:</b> AngularJS, Android, iOS
    </TimeLineElement>

    <!-- L'Oréal -->
    <TimeLineElement
      title="IT Support Engineer level 2"
      subtitle="April 2014 - October 2016, L'Oréal, Paris Area, France"
    >
      Level 2 technical and functional support for Flexnet and SAP applications
      within the WISE project.
      <br />
      <b>Skills:</b> Flexnet, SAP (LE, WM, MM), Technical Support
    </TimeLineElement>

    <!-- CCI Le Havre: Ingénieur Stagiaire en Informatique -->
    <TimeLineElement
      title="IT Engineer Intern"
      subtitle="February 2013 - July 2013, CCI Le Havre"
    >
      Assisted in CRM V-Tiger implementation and designed a mass SMS sending
      platform.
    </TimeLineElement>

    <!-- Data Direct Networks: IT Intern -->
    <TimeLineElement
      title="IT Technician Intern"
      subtitle="June 2012 - September 2012, Data Direct Networks"
    >
      Provided technical support and deployed Microsoft Lync certified Polycom
      phones across all US offices.
    </TimeLineElement>

    <!-- MSC Mediterranean Shipping Co. S.A.: Stagiaire Technicien Réseau Informatique -->
    <TimeLineElement
      title="Network Technician Intern"
      subtitle="April 2010 - June 2010, MSC Mediterranean Shipping Co. S.A."
    >
      Conducted a network equipment audit and developed IP addressing plans and
      procedures.
    </TimeLineElement>

    <!-- Additional roles for CCI Le Havre, Data Direct Networks, and MSC Mediterranean Shipping Co. S.A. -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Generalist Engineering Degree, Computer Science"
      subtitle="2010 to 2013 at ESIGELEC, Rouen Area, France"
    />
    <TimeLineElement
      title="Technical University Degree, Networks and Telecommunications"
      subtitle="2008 to 2010 at IUT de Rouen, Rouen Area, France"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Swift</li>
    <li>Objective-C</li>
    <li>Swift Data</li>
    <li>Combine</li>
    <li>UIKit</li>
    <li>SwiftUI</li>
    <li>Xcode</li>
    <li>Xcode Cloud</li>
    <li>Scrum</li>
    <li>Kotlin</li>
    <li>Git</li>
    <li>Java</li>
  </ul>
</BaseLayout>
